<!--Contains Navbar and other links-->
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Tech School Management System</a>
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/payments">Payments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/enrollment">Enrollment</a>
            </li>
            
            </ul>
        </nav>
    </header>
