<label for="state" class="form-label form-floating"></label>
<input class="form-control" list="states" id="state" name="state" placeholder="Type to search..." maxlength="2">
<datalist id="states">
  <option value="San Francisco">
  <option value="New York">
  <option value="Seattle">
  <option value="Los Angeles">
  <option value="Chicago">
</datalist>