
<div class="col-6">
    <h1>Search Student Balances</h1>
</div>
<br>

<form class="row g-3 needs-validation border border-dark" method="post" action="/stuAccts" novalidate>

    <div class="col-6">
        <label>Course ID Search</label>
            <input class="form-control me-2" type="search" placeholder="Search" name="search_student_id" aria-label="Search">

    </div>

    <div class="col-6">
        <label>First Name</label>
            <input class="form-control me-2" type="search" placeholder="Search" name="search_first_name" aria-label="Search">

    </div>

    <div class="col-6">
        <label>Last Name</label>
        <input class="form-control me-2" type="search" placeholder="Search" name="search_last_name" aria-label="Search">

    </div>

        <div class="col-6">
        <label>Balance</label>
        <input class="form-control me-2" type="search" placeholder="Search" name="search_balance" aria-label="Search">

    </div>

    <br>

    <div class="col-6">
        <button class="btn btn-outline-dark" type="submit">Search</button>
        
    </div>
</form>

