<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/enrollment">Enrollments</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Enrollment</li>
    </ol>
  </nav>
  
  
  <% if(alert){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>
  
  <% if(warning){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= warning %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>
  
      <%- include('partials/enrollment-form') %>
  
  </form>
  