<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head'); %>
    <%- include('partials/header'); %>
            
    <h1>Addresses Page</h1>
        <h3>This page is for seeing all addresses pertaining to students.</h3>
            <div id="form_div" style="position: relative">
                    <div>
                        <img class="logo" src="homepage-images/logo.jpeg">
                    </div>
                    <form method="GET" action="/~garzacao/index.html">
                        <button type="submit">Home</button>
                    </form>
          <h2 class="centered_text">To add a student please enter the following:</h2>
          <form class="centered_text">
            <fieldset> <!--This is where the field is created so that input fields can be created-->
                <label for="Street">Street Address:</label>
                    <input class="input" type="text" name="street" id="street" size="40" maxlength="100" required>
                    <br>
                <label for="city">City:</label>
                    <input class="input" type="text" name="city" id="city" size="40" maxlength="100" required>
                    <br>
                <label for="state">State:</label>
                    <input class="input" type="text" name="state" id="state" size="2" maxlength="100" required>
                    <br>
                <label for="zip">Zip Code (U.S. ONLY):</label>
                    <input class="input" type="text" name="zip" id="zip" size="9" maxlength="100">
                    <br>
                <label for="Country">Country:</label>
                    <input class="input" type="text" name="Country" id="Country" size="40" maxlength="100" required>
                    <br>

                <input class="submit_button" type="submit" id="postSubmit">
            </fieldset>
          </form>
        </div>
        <div>
            <h2 class="centered_text">To Search for an address please fill one of the following:</h2>
            <form class="centered_text">
            <fieldset> <!--This is where the field is created so that input fields can be created-->
                <label for="Street">Street Address:</label>
                    <input class="input" type="text" name="street" id="street" size="40" maxlength="100">
                    <br>
                <label for="city">City:</label>
                    <input class="input" type="text" name="city" id="city" size="40" maxlength="100">
                    <br>
                <label for="state">State:</label>
                    <input class="input" type="text" name="state" id="state" size="2" maxlength="100">
                    <br>
                <label for="zip">Zip Code (U.S. ONLY):</label>
                    <input class="input" type="text" name="zip" id="zip" size="9" maxlength="100">
                    <br>
                <label for="Country">Country:</label>
                    <input class="input" type="text" name="Country" id="Country" size="40" maxlength="100">
                    <br>

                <input class="submit_button" type="submit" id="postSubmit" value="Search"/>
            </fieldset>
          </form>

        </div>

        <span id="res_span" class="response" style="display: none">Thank you, Payment processed for student ID: <span id="rec_student_id"></span></span>

        <div>
            <table>
                <tr>
                    <th>Address ID</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>0005</td>
                    <td>123 Main Street</td>
                    <td>Rhome</td>
                    <td>TX</td>
                    <td>75116</td>
                    <td>United States</td>
                    <td>
                            <form method="GET" action="/~garzacao/payments.html">
                                <button type="submit">Record Payment</button>
                            </form>
                    </td>
                    <td>
                        <form method="GET" action="/~garzacao/update-student.html">
                            <button type="submit">Edit Student Info</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <%- include('partials/footer'); %>