<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>
<%- include('partials/header'); %>
<div class="container-fluid">
    <h2>Welcome to the Tech School Management System</h2>
    <p>Click a button below to get started</p>
</div>
<div class="container d-lg-flex justify-content-center">
    <div class="row">
        <div class="col-md-4 mb-6 home-icons">
            <div class="card">
                <div class="card-body">
                    <a href="/students" class="stretched-link"><img src="images/students-icon.png" alt="View Students" class="home-icon" ></a>
                    <p>Students</p>    
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-6 home-icons">
            <div class="card">
                <div class="card-body">
                    <a href="/courses" class="stretched-link"><img src="images/courses-icon.png" alt=""></a>
                    View Courses        
                </div>
            </div> 
        </div>
        <div class="col-md-4 mb-6 home-icons">
            <div class="card">
                <div class="card-body">
                    <a href="/payments" class="stretched-link"><img src="images/payments-icon.png" alt=""></a>
                    View Payments                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-lg-flex justify-content-center">
    <div class="row">
        <div class="col-lg-6 mb-6 home-icons">
            <div class="card">
                <div class="card-body">
                    <a href="/enrollment" class="stretched-link"><img src="images/enrollment-icon.png" alt=""></a>
                    View Current Enrollment    
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6 home-icons">
            <div class="card">
                <div class="card-body">
                    <a href="/accounts" class="stretched-link"><img src="images/student-accounts-icon.png" alt=""></a>
                    View Student Accounts        
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    

</div>
<div class="container">
    <a target="_blank" href="https://icons8.com/icon/3qfW6gw859aY/payment">Payment</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/zMivpdzOIHCf/book">Book</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/VtyxQO9XA9kI/online-class">Online Class</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/EyoVnEsEStVj/accounting">Accounting</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/pqGQsAiCGC85/person">Person</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>
<%- include('partials/footer'); %>
