<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/payments">Payments</a></li>
    <li class="breadcrumb-item active" aria-current="page">Record Payment</li>
  </ol>
</nav>

<% if(alert){ %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= alert %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(warning){ %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= warning %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>


<form class="row g-3 needs-validation" method="POST" action="/paymentAdd" novalidate>

  <%- include('partials/payment-add-form') %>

</form>
