<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
    <%- include('partials/header'); %>
    <h1>Student Accounts</h1>
    <h3>Lists students by their ID's and their account balance. </h3>
        <div id="form_div" style="position: relative">
                <div>
                    <img class="logo" src="homepage-images/logo.jpeg">
                </div>
                <form method="GET" action="/~garzacao/index.html">
                    <button type="submit">Home</button>
                </form>
      <h2 class="centered_text">To add a student and their balance please enter the following:</h2>
      <div id="form_div" style="position: relative">
          <h2 class="centered_text">Please enter the student's ID and Balance.</h2>
          <form class="centered_text">
            <fieldset> <!--This is where the field is created so that input fields can be created-->
            <label for="student_id">Student ID:</label>
                <input class="input" type="text" name="student_id" id="student_id" size="40" maxlength="100" required>
                <br>
                <br/>
                <label for="amount">Balance Amount</label>
                <input class="input" type="number" name="amount" id="amount" min="0.01" step="0.01" max="100000" required>
                <br>
                <br/>
                <input class="submit_button" type="submit" id="postSubmit">
            <br/>
            </fieldset>
            <br/>
          </form>
     </div>
    <div>
        <h2 class="centered_text">To search for a student or balance please enter one of the following.</h2>
        <form class="centered_text">
        <fieldset>
            <!--JS coding is required for data validation as html is not sufficient-->
            <label for="stu_id">Student ID:</label>
                <input class="input" type="text" name="student_id" id="stu_id" size="40" maxlength="100" required>
                <br>
            <label>OR</label>
                <br>
            <label for="acct_bal">Account Balance:</label>
                <input class="input" type="text" name="acct_bal" id="acct_bal" size="40" maxlength="100" required>

            <input class="submit_button" type="submit" id="student_submit" value="Search"/>
        </fieldset>
</form>
    </div>
    </div>

    <span id="res_span" class="response" style="display: none">Thank you, Payment processed for student ID: <span id="rec_student_id"></span></span>

    <div>
        <table>
            <tr>
                <th>Student ID</th>
                <th>Account Balance</th>
            </tr>
            <tr>
                <td>1001231234</td>
                <td>4,000</td>
                <td>
                    <form method="GET" action="">
                        <button type="submit">Edit Balance Info</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>     
    <%- include('partials/footer'); %>